/* 
font color: #2b2d42
h1, h2 color: #f1faee
h1 background: #1d3557
h2 background: #457b9d
activities section background: #F1FAEE
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%/50%;
    margin-bottom: 30px;
}

h1, h3 {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 5em;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #1d3557;
    margin: 20px;
}

h2 {
    background-color: #457b9d;
    font-size: 2em;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    width: 50%;
}

h3 {
    font-size: 1.50em;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1faee;
    height: 80vh;
    width: 100vw;
    background-image: url("images/akron.jpg");
    background-size: cover;
    background-position: bottom center;
}

.activities-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1FAEE;
    padding: 80px 60px;
}

.hiking, .theater, .concerts {
    text-align: center;
    width: 30%;
}

.guide-section {
    margin: 80px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 30px 40px;
    background-color: #457b9d;
    border-radius: 10px;
    color: #f1faee
}

.card img {
    padding: 0 30px;
    margin-bottom: 0;
}

.guide-text {
    padding: 0 20px;
}