body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #2b2d42;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    
}

h1, h2 {
    color: #f1faee;
    border-radius: 10px; 
}

h1 {
    font-size: 32px;
    background: #1d3557;
    padding: 5px 12px; 
}

h2 {
    background: #457b9d;
    padding: 5px 30px;
    margin: 0 20px;
}

h3 {
    margin-top: 0;
}

img {
    width: 100px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("images/akron.jpg");
    background-size: cover;
    width: 100vw;
    height: 80vh;
}

.activities-section {
    background-color: #F1FAEE;
    padding: 60px;
}