body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    color: #2b2d42;
}

h1, h3 {
    font-family: 'Oswald', sans-serif;
}

.hero {
    text-align: center;
    background: url("images/toronto.jpg");
    background-size: cover;
}